# Ignorar node_modules (dependencias instaladas)
node_modules/

# Ignorar archivos compilados de TypeScript
dist/

# Ignorar logs y archivos temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar carpetas de cobertura
coverage/
*.lcov

# Ignorar archivos de entorno (si usas .env)
.env

# Ignorar reportes de Playwright
playwright-report/

# Ignorar archivos generados por ReportPortal (si aplica)
reportportal*.*
